<h3 class="account-title">Register</h3>
<div class="account-box">
    <div class="account-wrapper">
        <div class="account-logo">
            <a href="#"><img src="./assets/img/logo2.png" alt="Preadmin"></a>
        </div>
        <div >
        <div class="form-group form-focus">
            <label class="control-label">Email</label>
            <input class="form-control floating" #email type="text" />
        </div>
        <div class="form-group form-focus">
            <label class="control-label">Password</label>
            <input class="form-control floating" #password type="password" />
        </div>
        <div class="form-group form-focus">
            <label class="control-label">Repeat Password</label>
            <input class="form-control floating" #password2 type="password" />
        </div>
        <div class="form-group text-center">
            <button class="btn btn-primary btn-block account-btn" (click)="register()">Register</button>
        </div>
        <div class="text-center">
            <a routerLink="/auth/login">Already have an account?</a>
        </div>
        </div>
    </div>
</div>